{"swagger":"2.0","info":{"description":"This is a dynamic API generated by PostgREST","title":"PostgREST API","version":"11.2.0"},"host":"api.forestiq.org:443","basePath":"/api","schemes":["https"],"consumes":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json","text/csv"],"produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json","text/csv"],"paths":{"/":{"get":{"tags":["Introspection"],"summary":"OpenAPI description (this document)","produces":["application/openapi+json","application/json"],"responses":{"200":{"description":"OK"}}}},"/f500_company_commodity_scores":{"get":{"tags":["f500_company_commodity_scores"],"parameters":[{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.flid"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.ayear"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.cotype"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.cid"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.commodity"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.com_total_app_pts"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.com_total_app_max_pts"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.com_total_app_percentage"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.overall_app_pts"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.overall_app_max_pts"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.overall_app_percentage"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.commit_strength_app_pts"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.commit_strength_app_max_pts"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.commit_strength_app_percentage"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.policy_strength_app_pts"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.policy_strength_app_max_pts"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.policy_strength_app_percentage"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.impl_rpt_app_pts"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.impl_rpt_app_max_pts"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.impl_rpt_app_percentage"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.impl_app_pts"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.impl_app_max_pts"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.impl_app_percentage"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.rpt_verif_app_pts"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.rpt_verif_app_max_pts"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.rpt_verif_app_percentage"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.human_rights_app_pts"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.human_rights_app_max_pts"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.human_rights_app_percentage"},{"$ref":"#/parameters/rowFilter.f500_company_commodity_scores.optional_columns"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/f500_company_commodity_scores"},"type":"array"}},"206":{"description":"Partial Content"}}}},"/f500_company_rankings":{"get":{"tags":["f500_company_rankings"],"parameters":[{"$ref":"#/parameters/rowFilter.f500_company_rankings.flid"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.coname"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.commodities"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.ayear"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.cotype"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.cohq"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.coticker"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.coprofile"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.cosectors"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.brands"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.totalscore"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.totalmax"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.ranking_within_year"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.overall_app_pts"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.overall_app_max_pts"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.overall_app_percentage"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.com_total_app_pts"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.com_total_app_max_pts"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.com_total_app_percentage"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.commit_strength_app_pts"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.commit_strength_app_max_pts"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.commit_strength_app_percentage"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.policy_strength_app_pts"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.policy_strength_app_max_pts"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.policy_strength_app_percentage"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.impl_rpt_app_pts"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.impl_rpt_app_max_pts"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.impl_rpt_app_percentage"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.impl_app_pts"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.impl_app_max_pts"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.impl_app_percentage"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.rpt_verif_app_pts"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.rpt_verif_app_max_pts"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.rpt_verif_app_percentage"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.human_rights_app_pts"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.human_rights_app_max_pts"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.human_rights_app_percentage"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.initiatives"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.optional_cols"},{"$ref":"#/parameters/rowFilter.f500_company_rankings.slug"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/f500_company_rankings"},"type":"array"}},"206":{"description":"Partial Content"}}}},"/rpc/f500_company_profile_indicators":{"get":{"tags":["(rpc) f500_company_profile_indicators"],"produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json"],"parameters":[{"format":"text","in":"query","name":"p_coticker","required":true,"type":"string"},{"format":"integer","in":"query","name":"p_ayear","required":true,"type":"integer"},{"format":"character varying","in":"query","name":"p_cotype","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}},"post":{"tags":["(rpc) f500_company_profile_indicators"],"produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json"],"parameters":[{"in":"body","name":"args","required":true,"schema":{"properties":{"p_ayear":{"format":"integer","type":"integer"},"p_coticker":{"format":"text","type":"string"},"p_cotype":{"format":"character varying","type":"string"}},"required":["p_coticker","p_ayear","p_cotype"],"type":"object"}},{"$ref":"#/parameters/preferParams"}],"responses":{"200":{"description":"OK"}}}},"/rpc/f500_company_profile_indicators_test":{"get":{"tags":["(rpc) f500_company_profile_indicators_test"],"produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json"],"parameters":[{"format":"text","in":"query","name":"p_coticker","required":true,"type":"string"},{"format":"integer","in":"query","name":"p_ayear","required":true,"type":"integer"},{"format":"character varying","in":"query","name":"p_cotype","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}},"post":{"tags":["(rpc) f500_company_profile_indicators_test"],"produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json"],"parameters":[{"in":"body","name":"args","required":true,"schema":{"properties":{"p_ayear":{"format":"integer","type":"integer"},"p_coticker":{"format":"text","type":"string"},"p_cotype":{"format":"character varying","type":"string"}},"required":["p_coticker","p_ayear","p_cotype"],"type":"object"}},{"$ref":"#/parameters/preferParams"}],"responses":{"200":{"description":"OK"}}}},"/rpc/f500_company_rankings_optional_fields":{"get":{"tags":["(rpc) f500_company_rankings_optional_fields"],"produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json"],"parameters":[{"format":"integer","in":"query","name":"p_year","required":true,"type":"integer"},{"format":"text","in":"query","name":"p_cotype","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}},"post":{"tags":["(rpc) f500_company_rankings_optional_fields"],"produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json"],"parameters":[{"in":"body","name":"args","required":true,"schema":{"properties":{"p_cotype":{"format":"text","type":"string"},"p_year":{"format":"integer","type":"integer"}},"required":["p_year","p_cotype"],"type":"object"}},{"$ref":"#/parameters/preferParams"}],"responses":{"200":{"description":"OK"}}}},"/rpc/health_check":{"get":{"tags":["(rpc) health_check"],"produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json"],"responses":{"200":{"description":"OK"}}},"post":{"tags":["(rpc) health_check"],"produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json"],"parameters":[{"in":"body","name":"args","required":true,"schema":{"type":"object"}},{"$ref":"#/parameters/preferParams"}],"responses":{"200":{"description":"OK"}}}},"/rpc/f500_company_profile_indicators_test2":{"get":{"tags":["(rpc) f500_company_profile_indicators_test2"],"produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json"],"parameters":[{"format":"text","in":"query","name":"p_coticker","required":true,"type":"string"},{"format":"integer","in":"query","name":"p_ayear","required":true,"type":"integer"},{"format":"character varying","in":"query","name":"p_cotype","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}},"post":{"tags":["(rpc) f500_company_profile_indicators_test2"],"produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json"],"parameters":[{"in":"body","name":"args","required":true,"schema":{"properties":{"p_ayear":{"format":"integer","type":"integer"},"p_coticker":{"format":"text","type":"string"},"p_cotype":{"format":"character varying","type":"string"}},"required":["p_coticker","p_ayear","p_cotype"],"type":"object"}},{"$ref":"#/parameters/preferParams"}],"responses":{"200":{"description":"OK"}}}}},"definitions":{"f500_company_commodity_scores":{"properties":{"flid":{"format":"integer","type":"integer"},"ayear":{"format":"integer","type":"integer"},"cotype":{"format":"character varying","maxLength":2,"type":"string"},"cid":{"format":"integer","type":"integer"},"commodity":{"format":"text","type":"string"},"com_total_app_pts":{"format":"numeric","type":"number"},"com_total_app_max_pts":{"format":"double precision","type":"number"},"com_total_app_percentage":{"format":"text","type":"string"},"overall_app_pts":{"format":"numeric","type":"number"},"overall_app_max_pts":{"format":"double precision","type":"number"},"overall_app_percentage":{"format":"text","type":"string"},"commit_strength_app_pts":{"format":"numeric","type":"number"},"commit_strength_app_max_pts":{"format":"numeric","type":"number"},"commit_strength_app_percentage":{"format":"text","type":"string"},"policy_strength_app_pts":{"format":"numeric","type":"number"},"policy_strength_app_max_pts":{"format":"numeric","type":"number"},"policy_strength_app_percentage":{"format":"text","type":"string"},"impl_rpt_app_pts":{"format":"numeric","type":"number"},"impl_rpt_app_max_pts":{"format":"numeric","type":"number"},"impl_rpt_app_percentage":{"format":"text","type":"string"},"impl_app_pts":{"format":"numeric","type":"number"},"impl_app_max_pts":{"format":"numeric","type":"number"},"impl_app_percentage":{"format":"text","type":"string"},"rpt_verif_app_pts":{"format":"numeric","type":"number"},"rpt_verif_app_max_pts":{"format":"numeric","type":"number"},"rpt_verif_app_percentage":{"format":"text","type":"string"},"human_rights_app_pts":{"format":"numeric","type":"number"},"human_rights_app_max_pts":{"format":"numeric","type":"number"},"human_rights_app_percentage":{"format":"text","type":"string"},"optional_columns":{"format":"jsonb"}},"type":"object"},"f500_company_rankings":{"properties":{"flid":{"format":"integer","type":"integer"},"coname":{"format":"text","type":"string"},"commodities":{"format":"jsonb"},"ayear":{"format":"integer","type":"integer"},"cotype":{"format":"character varying","maxLength":2,"type":"string"},"cohq":{"format":"text","type":"string"},"coticker":{"format":"text","type":"string"},"coprofile":{"format":"text","type":"string"},"cosectors":{"format":"text","type":"string"},"brands":{"format":"text[]","items":{"type":"string"},"type":"array"},"totalscore":{"format":"double precision","type":"number"},"totalmax":{"format":"double precision","type":"number"},"ranking_within_year":{"format":"bigint","type":"integer"},"overall_app_pts":{"format":"numeric","type":"number"},"overall_app_max_pts":{"format":"double precision","type":"number"},"overall_app_percentage":{"format":"text","type":"string"},"com_total_app_pts":{"format":"numeric","type":"number"},"com_total_app_max_pts":{"format":"double precision","type":"number"},"com_total_app_percentage":{"format":"text","type":"string"},"commit_strength_app_pts":{"format":"numeric","type":"number"},"commit_strength_app_max_pts":{"format":"double precision","type":"number"},"commit_strength_app_percentage":{"format":"text","type":"string"},"policy_strength_app_pts":{"format":"numeric","type":"number"},"policy_strength_app_max_pts":{"format":"double precision","type":"number"},"policy_strength_app_percentage":{"format":"text","type":"string"},"impl_rpt_app_pts":{"format":"numeric","type":"number"},"impl_rpt_app_max_pts":{"format":"double precision","type":"number"},"impl_rpt_app_percentage":{"format":"text","type":"string"},"impl_app_pts":{"format":"numeric","type":"number"},"impl_app_max_pts":{"format":"double precision","type":"number"},"impl_app_percentage":{"format":"text","type":"string"},"rpt_verif_app_pts":{"format":"numeric","type":"number"},"rpt_verif_app_max_pts":{"format":"double precision","type":"number"},"rpt_verif_app_percentage":{"format":"text","type":"string"},"human_rights_app_pts":{"format":"numeric","type":"number"},"human_rights_app_max_pts":{"format":"double precision","type":"number"},"human_rights_app_percentage":{"format":"text","type":"string"},"initiatives":{"format":"text[]","items":{"type":"string"},"type":"array"},"optional_cols":{"format":"jsonb"},"slug":{"format":"text","type":"string"}},"type":"object"}},"parameters":{"preferParams":{"name":"Prefer","description":"Preference","required":false,"enum":["params=single-object"],"in":"header","type":"string"},"preferReturn":{"name":"Prefer","description":"Preference","required":false,"enum":["return=representation","return=minimal","return=none"],"in":"header","type":"string"},"preferCount":{"name":"Prefer","description":"Preference","required":false,"enum":["count=none"],"in":"header","type":"string"},"preferPost":{"name":"Prefer","description":"Preference","required":false,"enum":["return=representation","return=minimal","return=none","resolution=ignore-duplicates","resolution=merge-duplicates"],"in":"header","type":"string"},"select":{"name":"select","description":"Filtering Columns","required":false,"in":"query","type":"string"},"on_conflict":{"name":"on_conflict","description":"On Conflict","required":false,"in":"query","type":"string"},"order":{"name":"order","description":"Ordering","required":false,"in":"query","type":"string"},"range":{"name":"Range","description":"Limiting and Pagination","required":false,"in":"header","type":"string"},"rangeUnit":{"name":"Range-Unit","description":"Limiting and Pagination","required":false,"default":"items","in":"header","type":"string"},"offset":{"name":"offset","description":"Limiting and Pagination","required":false,"in":"query","type":"string"},"limit":{"name":"limit","description":"Limiting and Pagination","required":false,"in":"query","type":"string"},"body.f500_company_commodity_scores":{"name":"f500_company_commodity_scores","description":"f500_company_commodity_scores","required":false,"in":"body","schema":{"$ref":"#/definitions/f500_company_commodity_scores"}},"rowFilter.f500_company_commodity_scores.flid":{"name":"flid","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.ayear":{"name":"ayear","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.cotype":{"name":"cotype","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.cid":{"name":"cid","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.commodity":{"name":"commodity","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.com_total_app_pts":{"name":"com_total_app_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.com_total_app_max_pts":{"name":"com_total_app_max_pts","required":false,"format":"double precision","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.com_total_app_percentage":{"name":"com_total_app_percentage","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.overall_app_pts":{"name":"overall_app_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.overall_app_max_pts":{"name":"overall_app_max_pts","required":false,"format":"double precision","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.overall_app_percentage":{"name":"overall_app_percentage","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.commit_strength_app_pts":{"name":"commit_strength_app_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.commit_strength_app_max_pts":{"name":"commit_strength_app_max_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.commit_strength_app_percentage":{"name":"commit_strength_app_percentage","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.policy_strength_app_pts":{"name":"policy_strength_app_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.policy_strength_app_max_pts":{"name":"policy_strength_app_max_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.policy_strength_app_percentage":{"name":"policy_strength_app_percentage","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.impl_rpt_app_pts":{"name":"impl_rpt_app_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.impl_rpt_app_max_pts":{"name":"impl_rpt_app_max_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.impl_rpt_app_percentage":{"name":"impl_rpt_app_percentage","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.impl_app_pts":{"name":"impl_app_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.impl_app_max_pts":{"name":"impl_app_max_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.impl_app_percentage":{"name":"impl_app_percentage","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.rpt_verif_app_pts":{"name":"rpt_verif_app_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.rpt_verif_app_max_pts":{"name":"rpt_verif_app_max_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.rpt_verif_app_percentage":{"name":"rpt_verif_app_percentage","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.human_rights_app_pts":{"name":"human_rights_app_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.human_rights_app_max_pts":{"name":"human_rights_app_max_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.human_rights_app_percentage":{"name":"human_rights_app_percentage","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_commodity_scores.optional_columns":{"name":"optional_columns","required":false,"format":"jsonb","in":"query","type":"string"},"body.f500_company_rankings":{"name":"f500_company_rankings","description":"f500_company_rankings","required":false,"in":"body","schema":{"$ref":"#/definitions/f500_company_rankings"}},"rowFilter.f500_company_rankings.flid":{"name":"flid","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.f500_company_rankings.coname":{"name":"coname","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_rankings.commodities":{"name":"commodities","required":false,"format":"jsonb","in":"query","type":"string"},"rowFilter.f500_company_rankings.ayear":{"name":"ayear","required":false,"format":"integer","in":"query","type":"string"},"rowFilter.f500_company_rankings.cotype":{"name":"cotype","required":false,"format":"character varying","in":"query","type":"string"},"rowFilter.f500_company_rankings.cohq":{"name":"cohq","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_rankings.coticker":{"name":"coticker","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_rankings.coprofile":{"name":"coprofile","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_rankings.cosectors":{"name":"cosectors","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_rankings.brands":{"name":"brands","required":false,"format":"text[]","in":"query","type":"string"},"rowFilter.f500_company_rankings.totalscore":{"name":"totalscore","required":false,"format":"double precision","in":"query","type":"string"},"rowFilter.f500_company_rankings.totalmax":{"name":"totalmax","required":false,"format":"double precision","in":"query","type":"string"},"rowFilter.f500_company_rankings.ranking_within_year":{"name":"ranking_within_year","required":false,"format":"bigint","in":"query","type":"string"},"rowFilter.f500_company_rankings.overall_app_pts":{"name":"overall_app_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_rankings.overall_app_max_pts":{"name":"overall_app_max_pts","required":false,"format":"double precision","in":"query","type":"string"},"rowFilter.f500_company_rankings.overall_app_percentage":{"name":"overall_app_percentage","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_rankings.com_total_app_pts":{"name":"com_total_app_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_rankings.com_total_app_max_pts":{"name":"com_total_app_max_pts","required":false,"format":"double precision","in":"query","type":"string"},"rowFilter.f500_company_rankings.com_total_app_percentage":{"name":"com_total_app_percentage","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_rankings.commit_strength_app_pts":{"name":"commit_strength_app_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_rankings.commit_strength_app_max_pts":{"name":"commit_strength_app_max_pts","required":false,"format":"double precision","in":"query","type":"string"},"rowFilter.f500_company_rankings.commit_strength_app_percentage":{"name":"commit_strength_app_percentage","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_rankings.policy_strength_app_pts":{"name":"policy_strength_app_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_rankings.policy_strength_app_max_pts":{"name":"policy_strength_app_max_pts","required":false,"format":"double precision","in":"query","type":"string"},"rowFilter.f500_company_rankings.policy_strength_app_percentage":{"name":"policy_strength_app_percentage","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_rankings.impl_rpt_app_pts":{"name":"impl_rpt_app_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_rankings.impl_rpt_app_max_pts":{"name":"impl_rpt_app_max_pts","required":false,"format":"double precision","in":"query","type":"string"},"rowFilter.f500_company_rankings.impl_rpt_app_percentage":{"name":"impl_rpt_app_percentage","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_rankings.impl_app_pts":{"name":"impl_app_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_rankings.impl_app_max_pts":{"name":"impl_app_max_pts","required":false,"format":"double precision","in":"query","type":"string"},"rowFilter.f500_company_rankings.impl_app_percentage":{"name":"impl_app_percentage","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_rankings.rpt_verif_app_pts":{"name":"rpt_verif_app_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_rankings.rpt_verif_app_max_pts":{"name":"rpt_verif_app_max_pts","required":false,"format":"double precision","in":"query","type":"string"},"rowFilter.f500_company_rankings.rpt_verif_app_percentage":{"name":"rpt_verif_app_percentage","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_rankings.human_rights_app_pts":{"name":"human_rights_app_pts","required":false,"format":"numeric","in":"query","type":"string"},"rowFilter.f500_company_rankings.human_rights_app_max_pts":{"name":"human_rights_app_max_pts","required":false,"format":"double precision","in":"query","type":"string"},"rowFilter.f500_company_rankings.human_rights_app_percentage":{"name":"human_rights_app_percentage","required":false,"format":"text","in":"query","type":"string"},"rowFilter.f500_company_rankings.initiatives":{"name":"initiatives","required":false,"format":"text[]","in":"query","type":"string"},"rowFilter.f500_company_rankings.optional_cols":{"name":"optional_cols","required":false,"format":"jsonb","in":"query","type":"string"},"rowFilter.f500_company_rankings.slug":{"name":"slug","required":false,"format":"text","in":"query","type":"string"}},"externalDocs":{"description":"PostgREST Documentation","url":"https://postgrest.org/en/v11.2/api.html"}}